.form-container {
    padding: 2rem;
    /* max-width: 500px; */
    margin: 10px auto;
    background-color: #f9fafb;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
 
  .form-container h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #1f2937;
    text-align: center;
  }
 
  form label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #374151;
  }
 
  form input,
  form textarea {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    transition: border 0.3s ease;
  }
 
  form input:focus,
  form textarea:focus {
    border-color: #3b82f6;
    outline: none;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
  }
 
  form textarea {
    resize: vertical;
    min-height: 80px;
  }
 
  form button {
    background-color: #3b82f6;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease;
  }
 
  form button:hover {
    background-color: #2563eb;
  }

  .project-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .card-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 10px;
  }