/* DataTable.css */
.table-container1 {
    width: 1100px;
  margin: auto;
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin-top: 20px;
  }
  
  .search-bar {
    display: flex;
    gap: 10px;
    margin-left: -20px;
  }
  
  .search-input-container {
    position: relative;
    width: 90%;
    
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dropdown {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .dropdown-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background: #f0f0f0;
  }
  .back-button{
    float: left;
  }
  .clear-button {
    padding: 8px 12px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 20px;
  }
  
  .clear-button:hover {
    background: darkred;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .data-table th,
  .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .data-table th {
    background-color: #f4f4f4;
  }
  
  